*{
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
}

body{
    background-color: white;


}

.sect1{
    background:url("https://drive.google.com/uc?export=view&id=1MpFJUVxBxTTFR_eBrzQ8WU39ZTwvHJ3O");
    padding-top: 20px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
   
}
.Links{
    text-align: center;
    padding-left: 150px;
    
}
.Links li{
    display: inline-block;
    padding: 20px;
    
}
.Links li a{
    text-decoration: none;
    color: white;
}

.Links .login{
    background-color: yellow;
    color: black;

}
.Links .Signup{
    background-color: black;
    color: yellow;
}
.heading{
    font-size: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    color: #FAFF00;
    font-family: 'Adamina', serif;

}
.text{
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: #a39d9d;
    font-size: 30px;
}
.new{
    padding-top: 40px;
    display: flex;
}
.image{
    width: 45%;
}
.new .image img{
    width: 100%;
    height: 80vh;

}
.content{
    padding-left: 30px;
    align-items: center;
    padding-top: 150px;
    padding-left: 100px;
    

}
.hustle1{
    font-size: 4vw;
    padding: 1vw 0;
    font-family: 'Adamina', serif;
}
.hustle2{
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    color: #868181;
}
.content button{
    margin-top: 70px;
    padding: 20px 30px;
    border-top-right-radius: 20px;
    border: none;
    background-color:black;
    color: yellow;
    font-size: 25px;
}
.content button i{
    margin-left: 2vw;
}
.gradient {
    margin-bottom: 1vw;
    width: 12vw;
    height: .3vw;
    background-image: linear-gradient(to right, #FFAC12, black) ;
    border-radius: 2vw;
}
.top-movers{
    margin-top: 40px;
}
.top-movers .mover-title{
    margin-bottom: 150px;
}
.movers-sec{
    margin-top: 50px;
    padding-top: 50px;
    background-color: #f1ebeb;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
}
.mover-title{
    font-size: 40px;
}
.images{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.two{
    margin-top: 30px;
    padding-bottom: 120px;

}

.movers-images{
    background-color: white;
    border-radius: 3vh;
    width: 20vw;
    padding-bottom: 50px;
}
.movers-images img{
    height: auto;
    width: 20vw;
   
}
.movers-images .caption{
    font-size: 20px;
    padding: 2px;
}
.movers-images .icons{
    border-top: 1px solid #dbdad8;
    display: flex;
}
.icons {
    display: flex;
    font-size: 1px;
    padding: 1px;
    text-align: center;
}

footer{
    background-color: black;
    max-height: 90vh;
    color: white;
    padding: 0 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.footer-name p{
    font-size: 30px;
    padding: 6vw 0 4vw ;
    border-bottom: 1px solid #5c5b5a;
}
span{
    color: #dda509e0;
}
.footer {
    padding: 4vw 0 7vw;
    display: flex;

}
.footer .footer-icons{
    display: flex;
    width: 40%;
    align-items: center;
}
.footer .footer-list{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.footer .footer-list ul{
    list-style: none;   
}
.footer .footer-list li{
    font-size: 20px;
    padding-bottom: 10px;
    color: #707070;
}
.footer .footer-list ul h5{
    font-size: 20px;
    color: white;
}   
.footer-icons{
    display: flex;
    justify-content: space-between;
   padding-left: 150px;
   padding-right: 150px;
}
