*{
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
}

body{
    background-color: white;


}

.sect1{
    background:url("https://drive.google.com/uc?export=view&id=1MpFJUVxBxTTFR_eBrzQ8WU39ZTwvHJ3O");
    padding-top: 20px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
   
}
.Links{
    text-align: center;
    padding-left: 150px;
    
}
.Links li{
    display: inline-block;
    padding: 20px;
    
}
.Links li a{
    text-decoration: none;
    color: white;
}

.Links .login{
    background-color: yellow;
    color: black;

}
.Links .Signup{
    background-color: black;
    color: yellow;
}
.heading{
    font-size: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    color: #FAFF00;
    font-family: 'Adamina', serif;

}
.text{
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: #a39d9d;
    font-size: 30px;
}
.new{
    padding-top: 40px;
    display: flex;
}
.image{
    width: 45%;
}
.new .image img{
    width: 100%;
    height: 80vh;

}
.content{
    padding-left: 30px;
    align-items: center;
    

}
.hustle1{
    font-size: 4vw;
    padding: 1vw 0;
    font-family: 'Adamina', serif;
}
.hustle2{
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    color: #887f7f;
}
