*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f2ef;
}
.head-sec{
    height: 45vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.nav-links{
    border-bottom: 1px solid #333131;
    height: 50%;
    padding: 3vw 10vw;
}
.nav-links ul{
    list-style: none;
    display: flex;
    float: right;
    color: white;
    align-items: center;
    padding: 2vw 0;
}
.nav-links ul li{
    padding-left: 4vw;

}    
.nav-links ul li button{
    background-color: #FFAC12;
    color: black;
    padding: 1vw 2vw;
    border: none;
    border-top-right-radius: 2vw;

}    
.nav-links ul li button i{
    color: white;
}
span{
    color: white;
   
}
.header{
    height: 50%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 3vw 10vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    font-size: 35px;
    margin-bottom: 1vw;
}
.location{
    font-size: 15px;
    float: right;
    color: #c9c8c7;
}
.pictures-div{
    margin: 3vw 10vw;
    display: flex;
    justify-content: space-between;

}
.pics{
    width: 50%;
}
.pics .big-pic img{
    height: auto;
    margin-bottom: 20px;
    width: 125%;
}
.small-pics{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.small-pics img{
    width: 12.5%;
}
.profile{
    background-color: white;
    width: 25%;
    padding: 10px;
    height: 50%;
    margin-right: 100px;
}
.profile-details{
    padding: 10px;
}
.profile-details div{
    border: 1px solid #f4f2ed;
    width: 100%;
    padding: 10px;
    font-size: 15px;

}
.profile-details .one{
    background-color: #ebe8e6;
    margin-bottom: 1vw;
    border-radius: .5vw;
    text-align: center;
}
.profile-details .two{
    margin-bottom: 1vw;
    border-radius: .5vw;
  
}
.profile-details .three{
    margin-bottom: 1vw;
    border-radius: .5vw;
  
}
.profile-details .four{
    margin-bottom: 1vw;
    border-radius: .5vw;
  
}
.profile-details .five{
    margin-bottom: 1vw;
    border-radius: .5vw;
  
}
.profile-details .five{
    height: 6vw;

}
.profile-details .six{
    background-color: black;
    border-top-right-radius: 2vw;
    color: white;
    text-align: center;
    font-size: 20px;
}
.profile-details .six i{
    margin-left: 20px;
    color: yellow;
    padding-bottom: 20px;
}
.details{
    border-radius: 2vw;
    width: 50%;
    margin-left: 150px;
}
.title{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    margin-top: 2vw;
    padding: 2vw;
    font-size: 20px;
    background-color: #fff;

    
}
.sec-icons{
    width: 100%;
    display: flex;
    background-color: #fff;

}
.sec-icons div{
    width: 20%;
    text-align: center;
    font-size: 15px;
    padding: 1vw;
    border-top:  1px solid   #dbdad8;

}
.car .shower .hash .house .calendar{
    border-right: 1px solid #dbdad8;
}
.desc-sec{
    background-color: white;
    margin-top: 30px;
    border-radius: 2vw;
    width: 50%;
    margin-bottom: 30px;
    margin-left: 150px;
}
.desc-details{
    font-size: 30px;
    padding: 20px;
    border-bottom: 1px solid #dbdab8;
}
.desc-body{
    padding: 20px;
    font-size: medium;
}
.feature-sec{
    background-color: white;
    margin-top: 30px;
    width: 50%;
    border-radius: 2vw;
    margin-left: 150px;
    margin-bottom: 150px;
}
.ft-heading{
    font-size: 30px;
    font-style: bold;
    padding: 20px;
    border-bottom: 1px solid #dbdab8;
}
.ft-body{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}
.ft-items ul{
    list-style: none;
   
}
.ft-items ul li{
    padding-bottom: 20px;

}
.ft-items ul li i{
    color: #FFAC12;
    margin-right: 10px;
}
.similar-sec{
    margin-left: 150px;
    width: auto;
}
.gradient{
    margin-bottom: 1vw;
    width: 10vw;
    height: .3vw;
    background-image: linear-gradient(to right, #FFAC12, black) ;
    border-radius: 2vw;

}
.similar-heading{
    font-size: 30px;
}
.images{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.image1{
    background-color: white;
    width:25vw;
    margin-right: 3vw;
    border-radius: 4vh;
}
.image1 img{
    width: 100%;
    height: 200px;
}
.caption{
    font-size: 20px;
    padding: 30px;
    border-bottom: 1px solid #dbdad8;

}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons div{
    padding: 10px;

}
footer{
    width: 100%;
    height: 75vh;
    background-color: black;
    color: white;
    margin-top: 150px;

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5c5b5a;
    padding-left: 100px;
    padding-right: 100px;
   
}
.heading{
    font-size: 40px;
    padding: 6vw 0 4vw ;
    border-bottom: 1px solid #5c5b5a;
}
span{
    color: #dda509e0;
    padding-left: 25px;
}
.btn button{
    background-color: #FFAC12;
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    border: none;
    border-top-right-radius: 2vw;
}
.btn button i{
    color: white;

}
.body{
    padding-top: 50px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  
}
.footer-icons{
    padding-left: 100px;
    padding-right: 200px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.links ul{
    list-style: none;
}
.links ul li{
    color: #f4f2ef;
    font-size: 15px;
    padding-bottom: 25px;

}
.links ul li p{
    color: white;
    font-size: 20px;

}    

