*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f2ef;
}
.head-sec{
    height: 45vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.nav-links{
    border-bottom: 1px solid #333131;
    height: 50%;
    padding: 3vw 10vw;
}
.nav-links ul{
    list-style: none;
    display: flex;
    float: right;
    color: white;
    align-items: center;
    padding: 2vw 0;
}
.nav-links ul li{
    padding-left: 4vw;

}    
.nav-links ul li button{
    background-color: #FFAC12;
    color: black;
    padding: 1vw 2vw;
    border: none;
    border-top-right-radius: 2vw;

}    
.nav-links ul li button i{
    color: white;
}
span{
    color: white;
   
}
.header{
    height: 50%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 3vw 10vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    font-size: 35px;
    margin-bottom: 1vw;
}
.location{
    font-size: 15px;
    float: right;
    color: #c9c8c7;
}
.pictures-div{
    margin: 3vw 10vw;
    display: flex;
    justify-content: space-between;

}
.pics{
    width: 65%;
}
.pics .big-pic img{
    height: auto;
    margin-bottom: 20px;
}
.small-pics{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.small-pics img{
    width: 12.5%;
}
.details{
    border-radius: 2vw;
}
.title{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    margin-top: 2vw;
    padding: 2vw;
    font-size: 20px;
    background-color: #fff;

    
}
.sec-icons{
    width: 100%;
    display: flex;
    background-color: #fff;

}
.sec-icons div{
    width: 20%;
    text-align: center;
    font-size: 15px;
    padding: 1vw;
    border-top:  1px solid   #dbdad8;

}
.car .shower .hash .house .calendar{
    border-right: 1px solid #dbdad8;
}
footer{
    width: 100%;
    height: 90vh;
    background-color: black;
    color: white;

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5c5b5a;
    padding-left: 100px;
    padding-right: 100px;
   
}
.heading{
    font-size: 40px;
    padding: 6vw 0 4vw ;
    border-bottom: 1px solid #5c5b5a;
}
span{
    color: #dda509e0;
    padding-left: 25px;
}
.btn button{
    background-color: #FFAC12;
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    border: none;
    border-top-right-radius: 2vw;
}
.btn button i{
    color: white;

}
.body{
    padding-top: 50px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  
}
.footer-icons{
    padding-left: 100px;
    padding-right: 200px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.links ul{
    list-style: none;
}
.links ul li{
    color: #f4f2ef;
    font-size: 15px;
    padding-bottom: 25px;

}
.links ul li p{
    color: white;
    font-size: 20px;

}    

